    body {
        background: url('../static/BG.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #app {
        min-height: 100vh;
        font-family: 'Open Sans', sans-serif;
    }
    
    #app form p {
        font-size: 13px;
    }
    
    .uniq-btn {
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        letter-spacing: 1px;
        background: #1696e7;
        padding: 8px 40px;
    }
    /* Marketing */
    
    .marketing .card p {
        font-size: 15px;
        color: #555555;
    }
    
    .marketing .card img {
        width: 100px;
        height: 100px;
    }
    
    .marketing .btn {
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        letter-spacing: 1px;
        background: #1696e7;
        padding: 8px 40px;
    }
    /* Result page */
    
    .result .table-one thead tr td {
        padding-bottom: 10px;
    }
    
    .result .table-one tbody tr td {
        padding: 8px;
        width: 40%!important;
        border: 1px solid #dfdfdf;
    }
    /* Link table */
    
    .result .table-two {
        width: 100%;
    }
    
    .result .table-two thead tr td {
        padding: 12px;
        text-align: center;
    }
    
    .result .table-two thead tr td h5 {
        font-size: 15px;
    }
    
    .result .table-two tbody tr td {
        border: 1px solid #dfdfdf;
        padding: 10px 12px;
    }
    
    .result .table-two tbody tr td p {
        font-size: 16px;
        color: #000;
    }
    
    .result .table-two tbody tr td a {
        font-size: 16px;
        text-decoration: none;
    }
    
    .result .table-two tbody tr .link-td {
        position: relative;
        overflow: hidden;
    }
    
    .result .table-two tbody tr .link-td .btn {
        text-transform: capitalize;
        font-size: 14px;
        color: #fff;
        padding: 1px 8px;
        position: absolute;
        top: 10px;
        right: 0;
    }
    /* Plugin */
    
    .bmc-button img {
        height: 34px !important;
        width: 35px !important;
        margin-bottom: 1px !important;
        box-shadow: none !important;
        border: none !important;
        vertical-align: middle !important;
    }
    
    .bmc-button {
        padding: 7px 10px 7px 10px !important;
        line-height: 35px !important;
        height: 51px !important;
        min-width: 217px !important;
        text-decoration: none !important;
        display: inline-flex !important;
        color: #ffffff !important;
        background-color: #000000 !important;
        border-radius: 5px !important;
        border: 1px solid transparent !important;
        padding: 7px 10px 7px 10px !important;
        font-size: 20px !important;
        letter-spacing: 0.6px !important;
        box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        margin: 0 auto !important;
        font-family: 'Arial', cursive !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        -o-transition: 0.3s all linear !important;
        -webkit-transition: 0.3s all linear !important;
        -moz-transition: 0.3s all linear !important;
        -ms-transition: 0.3s all linear !important;
        transition: 0.3s all linear !important;
    }
    
    .bmc-button:hover,
    .bmc-button:active,
    .bmc-button:focus {
        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        text-decoration: none !important;
        box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
        opacity: 0.85 !important;
        color: #ffffff !important;
    }
    /* Modal */
    
    .custom-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.521);
        overflow-y: scroll;
    }
    
    .custom-modal i {
        font-size: 22px;
        padding: 25px;
        cursor: pointer;
    }
    
    .custom-modal .card {
        width: 90vw;
    }
    
    .custom-modal .card .bold-text {
        font-size: 16px;
        color: #000;
    }
    
    .custom-modal .card .text-column {
        background: #066cdae1;
        overflow: hidden;
    }
    
    .custom-modal .card .column-one .bold-text {
        color: #fff;
        font-size: 18px;
        font-weight: 900;
    }
    
    .custom-modal .card .column-one .small-text {
        color: #fff;
        font-size: 14px;
        margin-bottom: 40px;
    }
    
    .custom-modal .column-three .text-column {
        min-height: 180px;
    }
    
    @media(min-width: 992px) {
        .custom-modal i {
            font-size: 25px;
            padding: 15px 40px;
        }
        .custom-modal .card {
            width: 1000px;
        }
    }
    
    .flex-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    
    .flex-column {
        -ms-flex-direction: column !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        flex-direction: column !important;
    }